@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}

$color: rgb(240,240,240);
$size: 300px;

body {
  display: flex;
	background: #fff;
	background-size: cover;
	height: 100vh;
	font-family: 'Open Sans';
}
.wrapper{
	margin: 40px 20px;
}
.heading{
	position: absolute;
	top: -55px;
	left: 40px;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #f6ac78;
	text-transform: uppercase;
}
.mug {
  display: flex;
  align-items: center;
  margin: auto;
  width: $size;
  height: $size;
  transform: rotateX(-4deg);
}
.cup {
  background: {
    color: $color;
    image: linear-gradient(
    	90deg,
    	rgba(255,255,255,0),
      	lighten($color,1.067) 15%,
        lighten($color,1.067) 25%,
        rgba(255,255,255,0),
        lighten($color,1.067) 75%,
        lighten($color,1.067) 85%,
        rgba(255,255,255,0)
      ),
      linear-gradient(
        rgba(255,255,255,0),
        darken($color,0.98)
      );
  }
  border-radius: #{$size / 2} / #{$size * 0.1667};
  box-shadow: 0 0 ($size * 0.0139) ($size * 0.0028) darken($color,0.99) inset;
  position: relative;
  text-align: center;
  width: $size * 0.7222;
  height: $size;
  &:before, &:after {
		border-radius: 50%;
		content: "";
		display: block;
  }
  &:before {
		background-image:
  		radial-gradient(
    		($size * 0.1) ($size * 0.1) at 20% -22%,
      		rgba(255,255,255,1) 80%,
        	rgba(255,255,255,0)
    	),
    	radial-gradient(
    		($size * 0.1) ($size * 0.1) at 80% -22%,
      		rgba(255,255,255,1) 80%,
        	rgba(255,255,255,0)
    	),
  		radial-gradient(
    		100% 100% at center bottom,
      		darken($color,0.85) 30%,
      		darken($color,0.98) 75%,
      		$color
      	);
		box-shadow: 0 0 ($size * 0.0028) ($size * 0.0028) $color inset;
		margin: ($size * 0.02) auto;
		width: $size * 0.667;
		height: $size * 0.2361;
  }
  &:after {
		box-shadow: 0 0 ($size * 0.0333) ($size * 0.0222) rgb(216, 216, 216);
		position: absolute;
		bottom: 0;
		width: 100%;
		height: $size * 0.2667;
		z-index: -1;
  }
}
.label{
	height: 200px;
	padding-top: 6px;
	background-color: rgba(252,206,165,1);
	background: rgba(252,206,165,1);
	background: linear-gradient(to bottom, rgba(252,206,165,1) 0%, rgba(252,206,165,1) 28%, rgba(246,148,83,1) 100%);
	border-bottom-right-radius: 150px 50px;
	border-bottom-left-radius: 150px 50px;
	box-shadow: 0 0 5px 2px #eeeeee inset;

	&:after{
		content: "";
		position: absolute;
		top: 77px;
		width: 100%;
		height: 35px;
		left: 0;
		border-bottom-right-radius: 150px 50px;
		border-bottom-left-radius: 150px 50px;
		background: {
		  color: $color;
		  image: linear-gradient(
		  	90deg,
		  	rgba(255,255,255,0),
		    	lighten($color,1.067) 15%,
		      lighten($color,1.067) 25%,
		      rgba(255,255,255,0),
		      lighten($color,1.067) 75%,
		      lighten($color,1.067) 85%,
		      rgba(255,255,255,0)
		    ),
		    linear-gradient(
		      rgba(255,255,255,0),
		      darken($color,0.98)
		    );
		}

	}
}
.handle {
  background: {
    color: $color;
    image: radial-gradient(($size * 0.07) ($size * 0.07) at 52% 19%, rgba(255,255,255,1) 70%, rgba(255,255,255,0));
  };
  border-radius: #{$size*0.1667} #{$size*0.5556} #{$size*0.5556} #{$size*0.1667} / #{$size*0.0278} #{$size*0.6111} #{$size*0.6111} #{$size*0.0278};
  box-shadow: (-$size*0.0056) 0 ($size*0.0056) ($size*0.0056) rgb(255,255,255) inset;
  width: $size * 0.2778;
  height: $size * 0.6111;
  &:before {
  	background: rgb(255,255,255);
		border-radius: 30% 100% 100% 20% / 15% 50% 50% 20%;
		box-shadow: 0 0 ($size*0.0278) ($size*0.0056) rgb(255,255,255), 0 0 ($size*0.025) ($size*0.05) (darken($color,0.95));
		content: "";
		display: block;
		margin: 30% auto auto 0;
		width: 70%;
		height: 70%;
  }
}
.blink{
	animation: blink 2s linear;
	transform-origin: 50% 50%;
}
.LeftWing {
	animation: shake-left-wing 2s infinite;
	transform-origin: 68% 22%;
}
.RightWing {
	animation: shake-right-wing 2s infinite;
	transform-origin: 34% 22%;
}

// =======fill-box-fix---

.LeftWing, .RightWing, .blink {
  transform-box: fill-box;
}   

// -------SVG styles--------
.st0{display:none;}
.st1{fill:#825F49;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st2{fill:#8C6239;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st3{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.st4{fill:#8C6239;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.st5{fill:#DDB663;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.st6{stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.st7{fill:#825F49;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.star{fill:#FEFEFE;}

// --------ANIMATIONS--------

@keyframes blink{
	0% {
		transform: scale(100%);
	}
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(100%);
	}
}

@keyframes shake-left-wing {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes shake-right-wing {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-100deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
